/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

input.readonly {
    color: grey;
}

.features-table {
    margin-top: 20px;
}

.features-table .row .col {
    margin-bottom: 20px;
}

.features-table .card {
    height: 100%;
}

.features-table h3 {
    color: #ee6e73;
}

.row-equal {
    display: flex;
    flex-wrap: wrap;
}

img.fill {
    width: 100%;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

main {
    padding-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.list-table > .row > .col {
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
}

h2 { 
    margin: 0;
    font-size: 24px;
    line-height: 32px;
}

.script {
    font-family: 'Segoe Script';
}

h3 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

div.text {
    margin-bottom: 1em;
}

.text:before {
    clear: both;
    content: '';
    display: block;
}